@model List<Post>

<div class="row">
    <div class="col-12">
        <h1>Post List</h1>
        <a href="/posts/create" class="btn btn-primary mt-2 mb-4">Create Post</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 200px;">İmage</th>
                    <th>Title</th>
                    <th>İs Active</th>
                    <th style="width: 150px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td><img src="/img/@item.İmage" alt="" class="img-fluid"></td>
                        <td>@item.Title</td>
                        <td>@item.İsActive</td>
                        <td>
                            <a href="/posts/edit/@item.PostId" class="btn btn-sm btn-primary">Edit</a>
                            <a href="#" class="btn btn-sm btn-primary">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
